<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>KIS - @ViewBag.Title</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<div class="text-center" id="headerDiv">
		<h1>Keep It Solved</h1>
		<h4>Easiest way to keep all Your answers!</h4>
	</div>

	@RenderBody();


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	@RenderSection("Scripts", false)
</body>
</html>